.spinner{
    /* width: 30px;
    height: 30px; */
    border-radius: 50%;
    /* horseShoe effect */
    /* border-top: 5px solid red; */
    border-left: 5px solid blue;
    border-bottom: 5px solid red;
    border-right: 5px solid blue;
    animation: rotate 3s infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}